
*{
    font-family: 'Outfit', sans-serif;
}

.map {
    flex: 1 1 400px;
    max-height: 400px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 20px;
}

.SearchPlanner{
    flex: 1 1 50%;
    border: 1px solid #eaeaea;
    padding: 20px;
}

.label{
    font-weight: bold;
    padding-right: 20px;
}
